<mat-toolbar class="nav-bar">
        <!-- Box containing all the buttons -->
        <span class="left-box">
            <button mat-button class="middle" (click)="sendPage('home')"><i class="material-icons row-icon">home</i>Home</button>
            <button mat-button class="middle" (click)="sendPage('moments')"><i class="material-icons row-icon">sentiment_satisfied_alt</i>Moments</button>
            <button mat-button class="middle" (click)="sendPage('notifications')"><i class="material-icons row-icon">notifications_none</i>Notifications</button>
            <button mat-button class="middle" (click)="sendPage('messages')"><i class="material-icons row-icon">email</i>Messages</button>
        </span>
        <span class="fill-remaining-space"></span>
        <span class="middle-box">
            <!-- Search Form -->
            <form class="form-inline md-form form-sm middle">
                <i class="material-icons row-icon">search</i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
                    mdbInput>
            </form>
        </span>
        <span class="middle-box">
            <!-- Post Button -->
            <!-- <button data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" mat-button class="middle" style="background-color: #1DA1F2; color: white; border-radius: 999rem;" (click)="openDialog()">Post</button>
            <div class="dropdown-menu dropdown-menu-lg-right">
                <button class="dropdown-item" type="button">Activity</button>
                <button class="dropdown-item" type="button">Moment</button>
            </div> -->
            <div class="middle">
                <div ngbDropdown>
                    <button mat-button ngbDropdownToggle class="post-button">Post</button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem (click)="openActivityDialog()">Activity</button>
                    <button ngbDropdownItem (click)="openMomentDialog()">Moment</button>
                    </div>
                </div>
            </div>
        </span>

        <!-- Dropdown -->
        <span class="right-box">
            <div class="middle">
                <div ngbDropdown>
                    <button class="btn dropdown-toggle-split" ngbDropdownToggle><i class="material-icons row-icon">arrow_drop_down</i></button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem (click)="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </span>
</mat-toolbar>