<div class="page">
    <!-- Left half of the page -->
    <div class="half-page" style="background-color: #1EA1F2">
        <div class="outer">
            <div class="middle" style="width: 300px; height: 300px">
                    <div class="rows">
                        <i class="material-icons row-icon">search</i>
                        <div class="row-text">Follow your interests</div>
                    </div>
                    <div class="rows">
                        <i class="material-icons row-icon">people_outline</i>
                        <div class="row-text">Hear what people are talking about</div>
                    </div>
                    <div class="rows">
                        <i class="material-icons row-icon">chat_bubble_outline</i>
                        <div class="row-text">Join the conversation</div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Right half of the page -->
    <div class="half-page">
        <!-- Big Top Box -->
        <div class="container login-outer">
            <!-- Smaller Top Box divided into three parts -->
            <div class="input-outer">
                <!-- One part containing form -->
                <div class="input-middle">
                        <div class="middle">
                                <input name="username" class="input-inner" type="text" [(ngModel)]="username" required autocomplete="username" placeholder="Phone, email, or username">
                        </div>
                    </div>
                <div class="input-middle">
                    <div class="middle">
                            <input name="password" class="input-inner" type="text" [(ngModel)]="password" required autocomplete="password" type="password" ng-hide="true" placeholder="Password">
                    </div>
                </div>
                <button mat-button class="middle" style="color: #1DA1F2; border-radius: 9999rem; border: 1px solid #1DA1F2;" (click)="login()">
                        Log in
                    </button>
            </div>
        </div>
        <!-- Middle Box in the right half of the page -->
        <div class="right-middle" style="width: 350px; height: 300px">
            <i class="material-icons row-icon" style="color: #1DA1F2">near_me</i>
            <div style="color: black; font-size: 1.8vw;">See what’s happening in the world right now</div>
            <div style="color: black; font-size: 1.3vw; margin-top: 30px;">Join Grouper Today</div>
            <button class="button-row" mat-button style="background-color: #1DA1F2; color: white;" (click)="loginWithDemoAccount()">Log In with Demo Account</button>
            <button class="button-row" mat-button style="background-color: white; color: #1DA1F2; border: 1px solid #1DA1F2;" (click)="login()">Log In</button>
         </div>
    </div>
</div>

