.container {
    width: 600px;
    height: 1000px;
    display: inline-block;
    margin: 1% auto auto 2%;
    vertical-align:top;
}
 
.title {
    height: 40px;
    width: 100%;
    background-color: #1DA1F2;
    color: white;
    padding: 10px;
    font-weight: bold;
}