<div class="container">
    <div class="half-container" style="background-color: #1DA1F2">

    </div>
    <div class="half-container" style="background-color: white">
        <!-- Basic Information: full name and user name -->
        <div class="half-container">
            <mat-label class="horizontal-middle">{{ fullname }}</mat-label>
            <mat-label class="horizontal-middle">{{ username }}</mat-label>
        </div>
        <!-- Events Moments Friends -->
        <div class="half-container">
            <!-- Events Button -->
            <div class="one-third-container">
                <button mat-button class="full-container" (click)="showMyEvent()">
                    <mat-label class="half-container" style="color: #657786">Events</mat-label>
                    <mat-label *ngIf="activityCount !== undefined" class="half-container" style="color: #1DA1F2">{{ activityCount }}</mat-label>
                </button>
            </div>
            <!-- Moments Button -->
            <div class="one-third-container">
                <button mat-button class="full-container" (click)="showMyMoment()">
                    <mat-label class="half-container" style="color: #657786">Moments</mat-label>
                    <mat-label *ngIf="activityCount !== undefined" class="half-container" style="color: #1DA1F2">{{ momentCount }}</mat-label>
                </button>
            </div>
            <!-- Friends Button -->
            <div class="one-third-container">
                <button mat-button class="full-container" (click)="showMyFriend()">
                    <mat-label class="half-container" style="color: #657786">Friends</mat-label>
                    <mat-label *ngIf="activityCount !== undefined" class="half-container" style="color: #1DA1F2">{{ friendCount }}</mat-label>
                </button>
            </div>
        </div>
    </div>
</div>