.container {
    height: 250px;
    width: 280px;   
    padding: 0px;
}

.half-container {
    height: 50%;
    width: 100%;
}

.one-third-container {
    height: 100%;
    width: 33%;
    display: inline-block;
}

.full-container {
    height: 100%;
    width: 100%;
}

mat-label {
    display: block;
    text-align: center;
}