<mat-card class="card">
    <div class="title">
            <div class="middle name" >{{ firstname }} {{ lastname }}</div>
            <div class="middle username">@{{ username }}</div>
    </div>
    <div class="grouper-content">
        <mat-label>
            {{ momentInfo.content }}
        </mat-label>
        <br>
        <div style="margin: 5px auto 5px auto;">
            <img *ngFor="let url of urls" [src]= "url" width="256" height="216" style="border-radius: 5px;"/>
        </div>
    </div>
    <div class="bar">
        <div class="button-box">
            <button #changeButton mat-icon-button class="buttons-under-form" (click)="comment()"><mat-icon class="icon">chat_bubble_outline</mat-icon></button>
            <div class="numbers">{{ momentInfo.comments.length }}</div>
        </div>
        <div class="button-box">
            <button mat-icon-button class="buttons-under-form" (click)="hasLiked() ? unlike() : like()">
                    <i *ngIf="!hasLiked()" class="material-icons-outlined icon">thumb_up</i>
                    <i *ngIf="hasLiked()" class="material-icons icon" (click)="unlike()">thumb_up</i>
                </button>
                <div class="numbers">{{ momentInfo.likes.length }}</div>
        </div>

    </div>
</mat-card>